<h1>Edit your Confession</h1>
<form method="POST" action="/confessions">
  <div>
    <label for="title">Edit Name(Numbers Only)</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="submissionfield">Edit Your Confession </label>
    <input type="text" name="submit">
  </div>
    <button id= "button-main" type="submit">Submit your Edit</button>
</form>




















<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
$('h1').hide();
$('h1').fadeIn(5000);
$('form').hide();
$('form').fadeIn(5000);
$('button').hide();
$('button').fadeIn(5000);



</script>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
$('html').hide();
$('html').fadeIn(3000);

</script>





<style>
body, html {
background-image: url(https://fromagination.com/wp-content/uploads/2014/11/cropped-Light-Wood-Background.jpg);
background-size: 100%;


}

h3, p {
font-family:  'Bellefair';
color: rgb(147, 0, 0);
font-size: 35px;

}

h1, p , form{

    display: flex;
    justify-content: center;
   align-content: center;
}

h1 {
font-size: 65px;
font-family: 'Bellefair';
color: crimson
}

p {
font-size: 35px;
font-family: 'Bitter';
color: crimson;
text-decoration: underline;

}

#button-main {
    font-family: 'Bitter';
    color: crimson;
    background-color: rgb(128, 78, 37);
    font-size: 35px;
    
    
}

</style>



