<h1>Edit your Confession</h1>
<form method="POST" action="/confessions">
  <div>
    <label for="title">Edit Title</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="submissionfield">Edit Confession </label>
    <input type="text" name="submit">
  </div>
    <button type="submit">Submit your Edit</button>
</form>
