<h1>Confessions</h1>
{{#each confessions}}
<a href="/confessions/{{_id}}">{{name}}</a>
{{/each}}














<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
$('h1').hide();
$('h1').fadeIn(3000);


</script>

























<style>
body, html {
background-image: url(https://fromagination.com/wp-content/uploads/2014/11/cropped-Light-Wood-Background.jpg);
background-size: 100%;


}

h3, p, a {
font-family:  'Bitter';
color: rgb(147, 0, 0);
font-size: 35px;

}

h1, p , form, a{

    display: flex;
    justify-content: center;
   align-content: center;
}

h1 {
font-size: 65px;
font-family: 'Bellefair';
color: crimson
}

p {
font-size: 35px;
font-family: 'Bitter';
color: crimson;
text-decoration: underline;

}

#button-main {
    font-family: 'Bitter';
    color: crimson;
    background-color: rgb(128, 78, 37);
    font-size: 35px;
    
    
}

</style>

