<header>

<h1>Submit your Confession</h1>
<form method="POST" action="/submission">
  <div>
    <label for="title">Title of your Confession</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="submissionfield">Confess Here </label>
    <input type="text" name="submissionfield">
  </div>
  

  
  <button type="submit">Submit Confession</button>
</form>


</header>



  
 
</form>


<style>
h1, h3 {
    display: flex;
    justify-content: center;
    align-content: center;


}

html, body {

    background-color: rgb(227, 227, 158)
}






</style>