

 

<h1 >Confessions</h1>
<p>Welcome to Confessions</p>

<br>
<br>
<h3>Confessions is an application designed by Cody Pellom. A simple, therapeutic 
    concept based on the ancient practice of "confession". Confessions is completely
    anonymous; each user ID is a number picked by the user. This ensures complete anonymity 
    <br>
    </h3>
    <h3>
        The confessions can take any form the user would like, from poetry to comedy, to 
        artistic prose. All we ask is no judgment of other members using Confessions.     
</h3>
<form method="POST" action="/confessions/new">


  
  <button id="button-main" type="submit">Main Page</button>
</form>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
$('h1').hide();
$('h1').fadeIn(3000);
$('p').hide();
$('p').fadeIn(7000);

</script>










































































<style>
   
body, html {
background-image: url(https://fromagination.com/wp-content/uploads/2014/11/cropped-Light-Wood-Background.jpg);
background-size: 100%;


}

h3, p {
font-family: 'Bellefair';
color: rgb(147, 0, 0);
font-size: 35px;

}

h1, p , form{

    display: flex;
    justify-content: center;
   align-content: center;
}

h1 {
font-size: 65px;
font-family: 'Bellefair';
color: crimson
}

p {
font-size: 35px;
font-family: 'Bitter';
color: crimson;
text-decoration: underline;

}

#button-main {
    font-family: "Bitter";
    color: crimson;
    background-color: rgb(128, 78, 37);
    font-size: 35px;
    
    
}

</style>

