<h1>Submit your Confession</h1>
<form method="POST" action="/users/{{userId}}confessions">
  <div>
    <label for="name">Title of your Confession</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="price">Confess Here </label>
    <input type="text" name="price">
  </div>
  

  
  <button type="submit">Submit Confession</button>
</form>


<style>
h1, h3 {
    display: flex;
    justify-content: center;
    align-content: center;


}

html, body {

    background-color: rgb(227, 227, 158)
}






</style>